@page
@model PrestamosGHI.Pages.SolicitudesModel
@{
    ViewData["Title"] = "Solicitudes";
}

<h1>Solicitudes</h1>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"></h3>

                <div class="card-tools">
                    <form method="get">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="texto" asp-for="Texto" />
                            <div class="input-group-append">
                                <button class="input-group-text" type="submit">Buscar</button>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">               
                <table class="table table-hover text-nowrap">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Codigo</th>
                                <th>Nombre </th>
                                <th>Monto Solicitado</th>
                                <th>Tiempo</th>
                                <th>Periodo</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var solicitud in Model.solicitudes)
                            {
                                <tr>
                                    <td>@solicitud.ID</td>
                                    <td>@solicitud.Codigo</td>
                                    <td>@solicitud.NombreCompleto</td>
                                    <td>@solicitud.MontoSolicitado</td>
                                    <td>@solicitud.Tiempo</td>
                                    <td>@solicitud.periocidad</td>
                                    <td>@solicitud.estados</td>
                                    <td><a asp-page="./DetalleMateria" asp-route-Id="@solicitud.ID" class="btn btn-success" style="cursor:pointer">Ver detalle</a></td>
                                    <td><a asp-page="./EditarMateria" asp-route-Id="@solicitud.ID" class="btn btn-secondary" style="cursor:pointer">Editar</a></td>
                                    <td><a asp-page="./DeleteMateria" asp-route-Id="@solicitud.ID" class="btn btn-danger" style="cursor:pointer">Eliminar</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>


            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>

<a asp-page="NuevaSolicitud" class="btn btn-success">Nueva Solicitud</a>